body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #9cf1f7 0%, #2c68bd 100%);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

